<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo-container">
      <img src="assets/icon/logo.png" alt="Logo" class="logo">
      <h1>BasuTura</h1>
      <p class="subtitle">Bienvenido de vuelta</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
      <div class="form-group">
        <ion-item class="custom-input">
          <ion-label position="floating">
            <ion-icon name="mail-outline"></ion-icon>
            Email
          </ion-label>
          <ion-input
            type="email"
            formControlName="email"
            placeholder="email@domain.com">
          </ion-input>
        </ion-item>

        <ion-item class="custom-input">
          <ion-label position="floating">
            <ion-icon name="lock-closed-outline"></ion-icon>
            Contraseña
          </ion-label>
          <ion-input
            type="password"
            formControlName="password">
          </ion-input>
        </ion-item>
      </div>

      <ion-button type="submit" expand="block" class="login-button">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Iniciar Sesión
      </ion-button>

      <div class="forgot-password">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
    </form>
  </div>
</ion-content>

